.containerVideo {
  background-color: #4f637e;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  grid-column-start: 2;
}

.video {
  width: 80%;
  height: 100%;
  object-fit: contain;
}
