.containerVideo {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.video {
  width: 100%;
  height: 600px;
  object-fit: fill;
  border-radius: 20px;
}
