.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: justify;
  text-wrap: pretty;
}

.containerTitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4em;
}

.containerParagraph {
  text-transform: none;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 400;
}

/* color: #2d3d33; */